<div id="about">

	<h3>How does this work?</h3>
	1.) Rate Movies 1 - 5, be matched with the top 3 critics who rated the same movies similarly.
	2.) Click the critics name to visit their page
	3.) See how your reviews compared with theirs, which movies they liked the most from the past year, and which movies they went against the grain on breaking with the average review the most for both positive and negative scores.

	<h3>Why did you make this?</h3>
	Once upon a time Roger Ebert gave Shaolin Soccer 3 out of 4 stars and I thought, wow, this guy gets it. I followed Roger Ebert's reviews when deciding on what to see until he passed away in 2013. Recently I thought about this and how hard it is to filter through all these critic reviews to know who to trust so I decided to build a web app to do it for me. 

	<h3>Who are you?</h3>
	I am Nick Damiano, here is my linkedin. I am a Ruby on Rails and Python developer seeking work in exchange for money
</div>