when this page loads
javascript should iterate through to find the critic that matches the url
then it should iterate through the movies matched for that critic to get the name and score
for each create a div where you 
put the name and meta critic score and critic score and your score but this should be sorted

Then query the critic and show the rest of his movie ratings or show just the top 5 differential from metacritic

<div id="critic_compare">
	
</div>