  		<div class="row top_matches">
			<div id="top_match_1" class="critic col-xs-12 col-md-10 col-md-offset-1" >
			</div>
		</div>
		<div class="row top_matches">
			<div id="top_match_2" class="critic col-xs-12 col-md-10 col-md-offset-1" >
			</div>
		</div>
		<div class="row top_matches">
			<div id="top_match_3" class="critic col-xs-12 col-md-10 col-md-offset-1" >
			</div>
		</div>
  	</div>
	<div class="container">
		<div class="row">
			<div id="movies" class="col-md-10 col-md-offset-1">
			</div>
		</div>

		<!-- set a div for 3 -->
		
	</div>


