<div class="container">
	<div class="row">
		<a href="localhost:3000" class="col-md-6 offset-md-3" id="top_element">Critic Matcher</a>
	</div>
</div>
<div class="container">
	<div class="row">
		<div id="movies" class= "col-md-6 offset-md-3">
		</div>
	</div>
	<div class="row">
		<div id="top_match" class= "col-md-6 offset-md-3">fart
		</div>
	</div>
</div>

<script type="text/javascript">

	// Variables
	var all_movies;
	var active_movies;
	var critics_reviews = []
	var reviews_active;
	var array_of_movie_ids =[];
	var top_match = {percentage: 0};

	// Functions

	//Gets initial 5 movies to load onto landing page
	function getFirstMovies()  {
		return $.ajax({
				dataType: 'json',
				url: '/api/movies/first-movies',
				success: function(data) {
					console.log('success', data);
					active_movies = data;				
				}						
		})
	}

	// pull out or create critics_results from local storage
	function getCriticsResults(){
		if(sessionStorage["criticsResults"] == undefined ){
			sessionStorage.setItem('criticsResults', JSON.stringify(critics_reviews));			
		}else if(sessionStorage["criticsResults"]){
			critics_reviews = JSON.parse(sessionStorage['criticsResults']);
		}
	}

	//Updates critic object upon each click of a rating
	function updateCriticResults(movie_and_rating){
		//convert to 0-100 to match up with critic reviews
		var total_matches;
		var total_points;
		var percentage;
		var rating 	= movie_and_rating[0] * 25;
		var movie_id 	= movie_and_rating[1];
		var reviews = reviews_active[movie_id];
		for(var i=0; i < reviews.length; i++){
			critic 				= reviews[i]["critic_id"];
			score 				= reviews[i]["score"];
			difference 			= Math.abs(rating - score);
			// if critic exists do this
			if(critic in critics_reviews){
				critics_reviews[critic]["matches"] += 1;
				critics_reviews[critic]["points"] += difference;
				total_matches 	= critics_reviews[critic]["matches"];
				total_points 	= critics_reviews[critic]["points"];
				critics_reviews[critic]["percentage"] = 100 - (total_points / total_matches);
				percentage = critics_reviews[critic]["percentage"]
			}else if(!(critic in critics_reviews)){
				critics_reviews[critic] = {
					"matches": 1,
					"points" : difference,
					"percentage": (100-difference)
				}
			}
			//if critic does not exist in database do this
			// check against top match and replace top match if score is higher
			if(percentage > top_match["percentage"] && total_matches > 3){
				top_match = critics_reviews[critic];
				top_match["critic_id"] = critic;
				updateTopMatch(top_match);
			}
		}
		//[{critic_id: 1, critic_name: "harry buttz", matches: 3, points: 56, percentage: 72},
		//get reviews_active review by rating
	}

	function updateTopMatch(top_match){
		var top_match_html = document.querySelector("#top_match");
		percentage = top_match["percentage"];
		matches = top_match["matches"];
		critic_id = top_match["critic_id"];
		top_match_html.innerHTML = "Critic ID: " + critic_id + " - " + "percentage: " + percentage + " - " + 'matches: ' + matches;
	}

	//Gets all matching movies as a follow up to draw from for reviews
	function getAllMovies()  {
		return $.ajax({
				dataType: 'json',
				url: '/api/movies',
				success: function(data) {
					console.log('success', data);
					all_movies = data;	
					// delete the active movies from it			
				}						
		})
	}

	// Sets the variable for array of movies in preparation for getting the reviews for active
	function setMovieIdArray(){
		for(var count = 0; count < active_movies.length; count++){
			array_of_movie_ids.push(active_movies[count].id)
		}
		return array_of_movie_ids;
	}

	//Gets the reviews for the active movies being rated by the user
	function getActiveReviews() {
		// get the array and change it to a string
		var movie_ids = array_of_movie_ids
		return $.ajax({
			datatype: 'json',
			url: '/api/reviews/' + movie_ids,
			success: function(data) {
				reviews_active = data;
				console.log('success', data);
			}
		})
		return reviews_active;
	}

	// Reorganizes reviews to be easily called by id number
	function reorganizeReviews(){
		var active_reviews = {};
		for(var i=0; i < reviews_active.length; i++){
			id = reviews_active[i][i].movie_id + ''
			active_reviews[id] = reviews_active[i]
		}
		reviews_active = active_reviews;
	}
	// button is clicked
	// user review hash is updated with movie_id and rating
	// figure out which movie id it is, grab that movie id hash, loop through each review
	// for each review, get critic review, id, name. update critics hash with 
	//Update DOM with active movies
	function updateDomWithMovies(){
		var movies_html_id = document.querySelector("#movies");
		active_movies.forEach((movie, i)=>{
			var movieTitle 	= document.createElement('div');
			movieTitle.className = 'title_' + (i+1);
			var image 	= document.createElement('img');
			var buttons = document.createElement('div');
			$(buttons).attr('id', movie.id);
			console.log(buttons + ' is buttons')
			for(var i=1; i < 5; i++){
				var button = document.createElement('button');
				button.className = 'review_button_' + i;
				button.addEventListener('click', function() { 
					var movie_and_rating = []
					movie_and_rating.push(this.innerHTML);
					movie_and_rating.push(this.parentNode.id);
					console.log(movie_and_rating)
					updateCriticResults(movie_and_rating);
					// call function to update critic object
				})
				button.innerHTML = i;
				buttons.appendChild(button);
			}
			var havent_seen_button = document.createElement('button');
			havent_seen_button.className = 'havent_seen';
			havent_seen_button.innerHTML = "Have not seen";
			havent_seen_button.addEventListener('click', function() { 
					console.log(this.parentNode);
				})
			buttons.appendChild(havent_seen_button);
			movieTitle.innerHTML = movie.title;
			movies_html_id.appendChild(movieTitle);
			movies_html_id.appendChild(buttons);
		})
	}

	//Main
	$( document ).ready(function() {
		// here get the width with a mediaquery and put that in a variable and then call number of movies for that width below
		getFirstMovies()
		.then(updateDomWithMovies)
		.then(setMovieIdArray)
		.then(getActiveReviews)
		.then(reorganizeReviews)
		.then(getCriticsResults)
		.then(getAllMovies)
	})

	

	// list the movies info - for console just name

	// take input, convert to integer, call a javascript method check reviews (unless they selected didn't see it then do nothing)
		// check_reviews - [{movie_id: 5, reviews: [{critic_id: 5, score: 30}, {critic_id: 53, score: 99}], movie_id: 10, reviews: [{critic_id: 34, 
		//score: 50}]}]
		// update critics - iterates through reviews for that movie and updates critic_match array
		// [{critic_id: 1, critic_name: "harry buttz", matches: 3, points: 56, percentage: 72}, {more critics}]
		// so loop through it, during loop, compare each percentage if matches greater than 5, with top_three array
		// if the percentage is higher, replace top three lowest
		// have a function that prints out in console, top 3 critics, matches, percentage


</script>
