// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .movie{
  	 -webkit-appearance: none;
  	 float: left;
  	 margin-left: 1px;
  }
  
  #top_element{
  	font-size: 2em;
  }
}

#top_element, #top_element:hover{
	font-size: 4em;
	padding: 5px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	font-style: italic;
	border: solid;
	border-width: thin;
	text-decoration: none;
	color: white;
	background-color: #00CED1;
}

#movies{
	text-align: center;
}

a{
	color:white;
}

.critic{
	margin-top: .5em;

}

.havent_seen{
	width: 10.5em;
}

#top_match_1{
	padding-top: 1px;
	height: 1.7em;
	width: 0%;
	background: #0faa50;
	-webkit-transition:400ms linear;
	-moz-transition:400ms linear;
	-o-transition:400ms linear;
	-ms-transition:400ms linear;
	transition:400ms linear;
}

#top_match_2{
	padding-top: 1px;
	height: 1.7em;
	width: 0%;
	background: #10467E;
	-webkit-transition:400ms linear;
	-moz-transition:400ms linear;
	-o-transition:400ms linear;
	-ms-transition:400ms linear;
	transition:400ms linear;
}

#top_match_3{
	padding-top: 1px;
	height: 1.7em;
	width: 0%;
	background: #BE4B00;
	-webkit-transition:400ms linear;
	-moz-transition:400ms linear;
	-o-transition:400ms linear;
	-ms-transition:400ms linear;
	transition:400ms linear;
}



.movie{
	display: inline-block;
	border-width: thin;
	padding: 5px;
	padding-left: none;
	width: 12em;
	margin: 10px 10px 0px 5px;
}

@-moz-document url-prefix(){
	.clicked{
	}
}

.buttons{
	display: inline-block;
}

button{
	float: left;
	margin: 1.8px;
	
	font-family: 'Roboto', sans-serif;
}

/* Remove button padding in FF */
@-moz-document url-prefix(){
	button{
	 	-webkit-appearance: none;
    	border: solid;
    	border-width: 1px;
	}

}

.movie_title{
	height: 3em;
	overflow-y: hidden;
	word-wrap: break-word;
	margin-left:10px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;}

img{
	
	width: 125px !important;
	height: 182px !important;
	display: block;
	margin: 0 auto;

}


