// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top_element{
	font-size: 3em;
}

.clicked{
	background: #D3D3D3	;
	text-shadow: none !important;
	background-image: none;
  	outline: 0;
  	-webkit-box-shadow: none !important;
          	box-shadow: none !important;
}

.buttons{
	float: right;
	display: inline-block;
}

.title{
	float: right;
	display: inline-block;

}

img{
	float:left;
	display: inline-block;
}

.movie{
	float: left;
	overflow:auto;
	border: solid;
	padding: 5px;
	margin: 10px;
}
